/*** Grid ***/
.schedule {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 
  [techs] Auto
  [time-6] 1fr
  [time-7] 1fr
  [time-8] 1fr
  [time-9] 1fr
  [time-10] 1fr
  [time-11] 1fr
  [time-12] 1fr
  [time-13] 1fr
  [time-14] 1fr
  [time-15] 1fr
  [time-16] 1fr
  [time-17] 1fr
  [time-18] 1fr;
  
  
  grid-template-columns:
  [times] 4em
  [tech-1-start] 1fr
  [tech-1-end tech-2-start] 1fr
  [tech-2-end tech-3-start] 1fr
  [tech-3-end tech-4-start] 1fr
  [tech-4-end];
}
  
/*** Style ***/

.tech-slot {
  font-weight: bold;
  font-size:.75em;
}

.time-slot {
  border-style: solid;
  border-color: gray;
  width: 30px;
  height: 30px;
  font-size: 10px;
  margin: 10px;
  padding: 10px;
  border: 15px;
}

body {
  padding: 50px;
  margin: 0 auto;
  line-height: 1.5;
}
  
.workorder {
  padding: .5em;
  border-radius: 2px;
  font-size: 14px;
  background-color: lightcoral;
  border-width: 2px;
  border-style: solid;
  box-shadow:
  rgba(255,255,255,.6) 1px 1px 0,
  rgba(0,0,0,.3) 4px 4px 0;
}

.holder {
  background-color:white;
}

.workorder-title,
.workorder-time {
  display: block;
}

.workorder-title,
.time-slot {
  margin: 0;
  font-size: 1em;
}

.tech-slot,
.time-slot {
  font-weight: bold;
  font-size:.75em;
}

.text {
  max-width: 750px;
  font-size: 18px;
  margin: 0 auto 50px;
}